[Unit]
Description = status app Service

[Install]
WantedBy=multi-user.target

[Service]
User=java-user
ExecStart=/bin/java -Xms2900m -Xmx3300m -jar /home/java-user/status-app/status-1.0-SNAPSHOT.jar
SyslogIdentifier=status-app

# StandardOutput=syslog
# StandardError=syslog
Environment="APP_VERSION=0.0"
Environment="ENV=test"
